<div ng-controller="librarianController">
	<div class="page-header">
		<h1>List of Branches in LMS</h1>
	</div>

	<!-- Table for listing authors -->
	<table class="table" id="branchesTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Branch Name</th>
				<th>Book Copies</th>
				<th>Branch Detail</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="br in items">
				<td>{{$index+1}}</td>
				<td>{{br.branchName}}</td>
				<td><button type="button" class="btn btn-success"
						ng-click="showManageCopiesModal(br.branchId)">Manage</button></td>
				<td><button type="button" class="btn btn-primary"
						ng-click="showEditItemModal(b.bookId)">Update</button></td>
				<td><button type="button" class="btn btn-danger"
						ng-click="showDeleteBookModal(b.bookId)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<!-- End of Table -->


</div>


