<div ng-controller="librarianController">
	<div class="page-header">
		<h1>List of Branches in LMS</h1>
	</div>

	<!-- Table for listing authors -->
	<table class="table" id="branchesTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Branch Name</th>
				<th>Branch Address</th>
				<th>Branch Detail</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="br in items">
				<td>{{$index+1}}</td>
				<td>{{br.branchName}}</td>
				<td>{{br.branchAddress}}</td>
				<td><button type="button" class="btn btn-success"
						ng-click="showManageBranchModal(br.branchId)">Manage</button></td>
				<td><button type="button" class="btn btn-danger"
						ng-click="showDeleteBookModal(b.bookId)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<!-- End of Table -->

	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" id="manageBranchModal"
		modal="manageBranchModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-jlabel="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Manage Branch Detail</h4>
					</div>
					<div class="modal-body">
						<span>Name: <input type="text" ng-model="branch.branchName">Address:<input
							type="text" ng-model="branch.branchAddress">
							<button type="button" class="btn btn-success btn-sm"
								ng-click="updateBranch()">Update</button>
						</span> <br /> <br />

						<!-- Book Copies Table -->
						<table class="table table-striped">
							<tr ng-repeat="bc in branch.bookCopies">
								<td><input class="form-control" type="text"
									placeholder="{{bc.bookName}}" disabled></td>
								<td><input class="form-control" type="number" min="0"
									ng-model="bc.noOfCopies"></td>
								<td><button type="button" class="btn btn-warning"
										ng-click="updateBookCopies(bc)">Update</button></td>
							</tr>
						</table>
						<!-- End of Book Copies Table -->


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Modal -->


</div>


