<div ng-controller="borrowerController">
	<div class="page-header">
		<h1>List of Branches in LMS</h1>
	</div>

	<!-- Table for listing authors -->
	<table class="table" id="branchesTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Branch Name</th>
				<th>Branch Address</th>
				<th>Check Out</th>
				<th>Return</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="br in items">
				<td>{{$index+1}}</td>
				<td>{{br.branchName}}</td>
				<td>{{br.branchAddress}}</td>
				<td><button type="button" class="btn btn-success"
						ng-click="showValidateModal(br.branchId, 1)">Check Out</button></td>
				<td><button type="button" class="btn btn-primary"
						ng-click="showValidateModal(br.branchId, 2)">Return</button></td>
			</tr>
		</tbody>
	</table>
	<!-- End of Table -->

	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" id="validateModal"
		modal="validateModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-jlabel="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Enter Borrower ID</h4>
					</div>

					<div class="modal-body">
						<input type="text" ng-model="borrowerId">
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal"
							ng-click="validate()">Sign In</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Modal -->

	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" id="checkoutModal"
		modal="checkoutModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-jlabel="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Available Books for Borrower
							{{borrower.name}} at Branch {{branchId}}</h4>
					</div>

					<div class="modal-body">
						<!-- Book Copies Table -->
						<table class="table table-striped">
							<tr>
								<th>Book Name</th>
								<th>Copies Left</th>
								<th>Action</th>
							</tr>
							<tr ng-repeat="bc in bookCopies">
								<td><input class="form-control" type="text"
									placeholder="{{bc.title}}" disabled></td>
								<td><input class="form-control" type="text"
									placeholder="{{bc.noOfCopies}}" disabled></td>
								<td><button type="button" class="btn btn-warning"
										ng-click="checkoutBookCopy(bc)" ng-show="allowCheckout(bc)">Check
										Out</button></td>
							</tr>
						</table>
						<!-- End of Book Copies Table -->
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Modal -->

	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" id="returnModal"
		modal="returnModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-jlabel="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Books Borrowed by {{borrower.name}}
							at Branch {{branchId}}</h4>
					</div>

					<div class="modal-body">
						<!-- Book Copies Table -->
						<table class="table table-striped">
							<tr>
								<th>Book Name</th>
								<th>Date Out</th>
								<th>Due Date</th>
								<th>Action</th>
							</tr>
							<tr ng-repeat="bl in bookLoans">
								<td><input class="form-control" type="text"
									placeholder="{{bl.title}}" disabled></td>
								<td><input class="form-control" type="text"
									placeholder="{{bl.dateOut}}" disabled></td>
								<td><input class="form-control" type="text"
									placeholder="{{bl.dueDate}}" disabled></td>
								<td><label ng-hide="bookReturned(bl)"><button
											type="button" class="btn btn-warning"
											ng-click="returnBookCopy(bl)"
											ng-show="compareDate(bl.dueDate)">Return</button>
										<button type="button" class="btn btn-danger"
											ng-click="contact()" ng-show="!compareDate(bl.dueDate, bl)">Contact
											Us</button></label> <label ng-show="bookReturned(bl)">{{bl.dateIn}}</label></td>

							</tr>
						</table>
						<!-- End of Book Copies Table -->
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Modal -->


</div>




