<div ng-controller="authorController">
	<div class="page-header">
		<h1>List of Authors in LMS</h1>
	</div>


	<!-- Search -->
	<div class="input-group">
		<input type="text" class="form-control" ng-model="searchString"
			placeholder="Search for..." ng-change="searchAuthors()">
	</div>
	<!-- End of Search -->



	<!-- Pagination -->
	<div class="col-md-10">
		<ul class="pagination">
			<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
			<li ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a href=""
				ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<!-- End of Pagination -->



	<!-- Table for listing authors -->
	<table class="table" id="authorsTable">
		<thead>
			<tr>
				<th>#</th>
				<th><a ng-click="sort()">Author Name</a></th>
				<th>Books</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="a in authors | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<td>{{$index+1}}</td>
				<td>{{a.authorName}}</td>
				<td><span ng-repeat="b in a.books">{{b.title}} |</span>
				<td><button type="button" class="btn btn-primary"
						ng-click="showEditAuthorModal(a.authorId)">Update</button></td>
				<td><button type="button" class="btn btn-danger"
						ng-click="showDeleteAuthorModal(a.authorId)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<!-- End of Table -->

	<!-- Modal for editing an existed author -->
	<div class="modal fade bs-example-modal-lg" id="editAuthorModal"
		modal="editAuthorModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Update Author Details</h4>
					</div>
					<div class="modal-body">
						<p>Enter the details of your Author:</p>
						<input type="text" ng-model="author.authorName"> <br />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
						<button type="button" class="btn btn-primary"
							ng-click="updateAuthor()">Update</button>
					</div>
				</div>
			</div>
		</div>

		<!-- <pre>{{author | json}}</pre> -->
	</div>

	<!-- End of Modal -->

	<!-- Modal for deleting an existed author -->
	<div class="modal fade bs-example-modal-lg" id="deleteAuthorModal"
		modal="deleteAuthorModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Delete Author</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure to delete Author: {{author.authorName}}?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
						<button type="button" class="btn btn-danger"
							ng-click="deleteAuthor()">Confirm</button>
					</div>
				</div>
			</div>
		</div>

		<!-- <pre>{{author | json}}</pre> -->
	</div>

	<!-- End of Modal -->


</div>


